---
import AboutUs from "../components/about-us.astro";
import CardsGrid from "../components/cards-grid.astro";
import DeliverService from "../components/deliver-service.astro";
import HeroSection from "../components/hero-section.astro";
import Subscribe from "../components/subscribe.astro";
import MainLayout from "../layouts/main-layout.astro";
import "../styles/global.css";
---

<MainLayout title="Cafe Street" description="Home Page">
  <HeroSection />
  <div class="flex flex-col w-3/4 justify-start m-auto py-10">
    <h2>
      How to use delivery <span class="underline decoration-orange"
        >service</span
      >
    </h2>
    <DeliverService />
  </div>
  <AboutUs />
  <div class="flex flex-col w-3/4 justify-start m-auto mt-20">
    <h2 class="mb-5">
      Special menu <span class="underline decoration-orange">for you</span>
    </h2>
    <CardsGrid start={3} end={9} showButtons={false} />
  </div>
  <Subscribe />
</MainLayout>
